<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} - {{ site.title }}</title>
<link rel="stylesheet" href="{{ '/assets/dark.css' | relative_url }}">
</head>
<body>
  <header>
   <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
    <p><em>{{ site.description }}</em></p>
    <h2>{{ page.title }}</h2>
     {% if page.image %}
       <img src="{{ page.image | relative_url }}" alt="">
      {% endif %}
    <hr>
  </header>

  {{ content }}

  <hr>
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>
